header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: yellow;
    color: purple;
}
ul {
    display: flex;
    gap: 10px;
    align-items: center;
    list-style: none;
}
